.card {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 200px;
  height: 408px;
  padding: 32px 16px 16px;
  color: $main;
  font-family: Roboto, sans-serif;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid white;

  &__product {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__title {
    line-height: 18px;
    letter-spacing: 0%;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 4px;
  }

  &__code {
    color: $secondary;
    margin: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
  }

  &__review {
    margin: 0;
  }

  &__price {
    display: flex;
    justify-content: space-between;

    &-text {
      font-size: 12px;
      line-height: 18px;
      color: $secondary;
      letter-spacing: 0%;
      font-weight: Regular;
      margin: 0;
    }

    &-value {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0%;
      font-weight: bold;
      margin: 0;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: $blue;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: white;
      color: $blue;
      border: 1px solid $blue;
      box-sizing: border-box;
    }
  }
}
